.head-top{
    background-color: #F9EEED;
    height: 5rem;
}
.HeroSection{
    background-color: #F9EEED;
    /* height: 40rem; */
}
.bestline{
    font-size: 45px;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
}
.wedo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 
    20px;
}
.bak{
    background-color: #F9EEED;
}
.ido{
    font-size: 23px;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.link{
    font-size: 15px;
    font-weight: 500;
}
.join{
    font-size: 35px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid #AB2923;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-radius: 20px;
}
.milli{
    color: #AB2923;
}
.cardbg{
    background-color: #F9FAFB;
    width: 25rem !important;
}
.title{
    color: #AB2923;
}
.why{
    font-size: 23px;
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.to-make{
    font-size: 26px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}