.head-top {
  height: 5rem;
}
.bestline {
  font-size: 45px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
}
.wedo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
.menu {
  height: 3rem;
}
.bar {
  position: relative;
  top: -60px;
}
.ido {
  /* font-size: 23px; */
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link {
  font-size: 15px;
  font-weight: 500;
}
.join {
  font-size: 35px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 5px solid #ab2923;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-radius: 20px;
}
.milli {
  color: #ab2923;
}
.cardbg {
  background-color: #f9fafb;
  width: 25rem !important;
}
.title {
  color: #ab2923;
}
.why {
  font-size: 23px;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.to-make {
  font-size: 26px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card2 {
  background-color: #f9eeed;
  width: 19rem !important;
}
.last {
  border: 1px solid rgb(218, 216, 216);
  border-right: none;
  border-left: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}
.down {
  margin-top: -27px !important;
}
.rush {
  height: 80px;
}
.rus {
  margin-top: -17px;
}
.nav-bg {
  background-color: #b1312a;
  border-radius: 0 0 13px 13px;
  height: 20rem;
}
.p1 {
  background-color: white;
  width: 30px !important;
  height: 5px !important;
}
.balD {
  background-color: #b1312a !important;
}
.balance {
  font-family: serif;
}
.list {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.What {
  font-size: 12px;
  font-weight: 800;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.card-title {
  font-weight: 500;
}
.card-text {
  font-size: 14px;
}
.card-bg {
  position: relative;
  top: -13rem;
}
.card-text {
  color: #b1312a !important;
}
.card-color {
  background-color: #b1312a !important;
}
.card-bg {
  margin-top: 3rem;
}
.scroll-bg {
  background-color: #b1312a;
}
.dataBar {
  background-color: #b1312a;
}
.italic-line {
  background-color: rgb(43, 43, 43);
  height: 2px;
}
.but {
  border: 1px solid #b1312a;
  border-radius: 9px;
  width: 40px;
  /* background-color:#b1312a; */
}
.gifting {
  width: 73px;
}
.sme {
  width: 46px;
}
.sme2 {
  width: 96px;
}
.smeCenter {
  background-color: #b1312a !important;
  width: 17rem !important;
}
.side {
  width: 15rem !important;
}

/*DROPDOWN STYLE */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

.dropdown-toggle svg {
  margin-right: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 10rem;
  padding: 10px;
  border: 1px solid #ddd;
  z-index: 2;
}
.dropdown-content a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px;
}

/*DROPDOWN STYLE FOR BUY DATA*/
.dropdownBuyData {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

.dropdown-toggle svg {
  margin-right: 5px;
}

.dropdown-contentBuyData {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 10rem;
  padding: 10px;
  border: 1px solid #ddd;
  z-index: 2;
}

.dropdown-contentBuyData a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px;
}
.show {
  display: block;
}
.returnTop{
  width: 35px;
  margin-left: 30px !important;
}
.container {
  position: relative;
}

img#image {
  position: relative;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px); /* Move to the left */
  }
  20% {
    transform: translateX(5px); /* Move to the right */
  }
  30% {
    transform: translateX(-5px); /* Move to the left */
  }
  40% {
    transform: translateX(5px); /* Move to the right */
  }
  50% {
    transform: translateX(-5px); /* Move to the left */
  }
  60% {
    transform: translateX(5px); /* Move to the right */
  }
  70% {
    transform: translateX(-5px); /* Move to the left */
  }
  80% {
    transform: translateX(5px); /* Move to the right */
  }
  90% {
    transform: translateX(-5px); /* Move to the left */
  }
  100% {
    transform: translateX(0); /* Return to the original position */
  }
}
.tableContainer{
  overflow-x: auto;
}
.AllMtnPlan{
  overflow-x: auto;
}
.AirtelContainer{
  overflow-x: auto;
}
.all{
  width: 400rem !important;
}
.back{
  position: relative;
  top: -50px;
}
.codee{
  position: relative;
  left: 45px;
  border-radius: 10px 0 0 10px;
}
.shift{
  margin-left: -40px;
}
.dColor{
  background-color: #ab2923 !important;
}
.confirmNet{
  position: relative;
  top: -5em;
  animation-name: conNet;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes conNet {
  0%{
    position: relative;
    top: -200px;
  }
}
.createBtn{
  background-color: #ab2923 !important;
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}